@page
@Html.AntiForgeryToken()
@model LoCoMPro_LV.Pages.Reports.AnomaliesModel
@{
    ViewData["Title"] = "Consulta";
}

<div class="container container-anomalie-buttons index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="anomalies-date-button btn btn-primary btn-sm" id="anomalies-date">Buscar Anomalias en Fecha</button>
            <button type="button" class="anomalies-price-button btn btn-primary btn-sm" id="anomalies-price">Buscar Anomalias en Precio</button>
        </div>
    </div>
</div>

<div class="container container-anomalie-tittle index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title_add">Anomalias</h1>
        </div>
    </div>
</div>

<table class="table-anomalies table" id="miTabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Record.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].NameGenerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Anomalies)
        {

            <tr>
                <td>
                    <div class="table-item">
                        <a class="election" asp-page="./Details" asp-route-NameGenerator="@firstItem.Record.NameGenerator" asp-route-RecordDate="@firstItem.Record.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => firstItem.Record.NameProduct)</a>
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.NameGenerator)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.RecordDate)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Type)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Comment)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        // Asocia la función al evento de clic en el documento, delegando a los elementos con los IDs específicos
        $(document).ready(function () {
            $(document).on('click', '#anomalies-date', function () {
                runAnomaliesFecha();
            });

            $(document).on('click', '#anomalies-price', function () {
                runAnomaliesPrecio();
            });
        });

        function runAnomaliesFecha() {
            $.ajax({
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                url: '/Reports/Anomalies?handler=RunAnomaliesFecha',
                success: function () {
                    location.reload();
                }
            });
        }

        function runAnomaliesPrecio() {
            $.ajax({
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                url: '/Reports/Anomalies?handler=RunAnomaliesPrecio',
                success: function () {
                    location.reload();
                }
            });
        }
    </script>
}