@page
@model LoCoMPro_LV.Pages.Reports.AnomaliesModel
@{
    ViewData["Title"] = "Consulta";
}

<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="clear-filter-button btn btn-primary" id="clear-filters-date" onclick="loadAnomaliesDate()">Anomalias Fecha</button>
            <button type="button" class="clear-filter-button btn btn-primary" id="clear-filters">Anomalias Precio</button>
        </div>
    </div>
</div>

<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title_add">Anomalias</h1>
        </div>
    </div>
</div>

<table class="table table-striped" id="miTabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Record.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].NameGenerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Anomalies)
        {

            <tr>
                <td>
                    <div class="table-item">
                        <a class="election" asp-page="./Details" asp-route-NameGenerator="@firstItem.Record.NameGenerator" asp-route-RecordDate="@firstItem.Record.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => firstItem.Record.NameProduct)</a>
                    </div>
                </td>
                <td>
                    <div class="table-item precio">
                        @Html.DisplayFor(modelItem => firstItem.NameGenerator)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.RecordDate)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Type)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Comment)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
