@page
@model LoCoMPro_LV.Pages.Reports.AnomaliesModel
@{
    ViewData["Title"] = "Consulta";
}

<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title_add">Anomalias</h1>
        </div>
    </div>
</div>

<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="clear-filter-button btn btn-primary" id="filters-date" data-filter="fecha">Anomalias Fecha</button>
            <button type="button" class="clear-filter-button btn btn-primary" id="filters-price" data-filter="precio">Anomalias Precio</button>
            <button type="button" class="clear-filter-button btn btn-primary" id="clear-filters" data-filter="todos">Ver Todas</button>
        </div>
    </div>
</div>

<table class="table" id="miTabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Record.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].NameGenerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anomalies[0].Comment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Anomalies)
        {

            <tr>
                <td>
                    <div class="table-item">
                        <a class="election" asp-page="./DetailsAnomalie" asp-route-NameGenerator="@firstItem.Record.NameGenerator" asp-route-RecordDate="@firstItem.Record.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => firstItem.Record.NameProduct)</a>
                    </div>
                </td>
                <td>
                    <div class="table-item precio">
                        @Html.DisplayFor(modelItem => firstItem.NameGenerator)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.RecordDate)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Type)
                    </div>
                </td>
                <td>
                    <div class="table-item">
                        @Html.DisplayFor(modelItem => firstItem.Comment)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            // Función para filtrar y mostrar solo las anomalías de tipo "Precio"
            function filterAnomaliesPrecio() {
                // Oculta todas las filas de la tabla
                $('#miTabla tbody tr').hide();

                // Muestra solo las filas con tipo "Precio"
                $('#miTabla tbody tr').filter(':contains("Precio")').show();
            }

            // Función para mostrar todas las anomalías
            function showAllAnomalies() {
                // Muestra todas las filas de la tabla
                $('#miTabla tbody tr').show();
            }

            // Asocia la función de filtrado al evento de clic en el botón
            $('#filters-price').click(function () {
                filterAnomaliesPrecio();
            });

            // Asocia la función de mostrar todas las anomalías al evento de clic en el botón de fecha
            $('#clear-filters').click(function () {
                showAllAnomalies();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Función para filtrar y mostrar solo las anomalías de tipo "Precio"
            function filterAnomaliesFecha() {
                // Oculta todas las filas de la tabla
                $('#miTabla tbody tr').hide();

                // Muestra solo las filas con tipo "Precio"
                $('#miTabla tbody tr').filter(':contains("Fecha")').show();
            }

            // Función para mostrar todas las anomalías
            function showAllAnomalies() {
                // Muestra todas las filas de la tabla
                $('#miTabla tbody tr').show();
            }

            // Asocia la función de filtrado al evento de clic en el botón
            $('#filters-date').click(function () {
                filterAnomaliesFecha();
            });
        });
    </script>
}