@page
@model LoCoMPro_LV.Pages.Reports.DetailsModel
@using Microsoft.AspNetCore.Authorization
@using LoCoMPro_LV.Models
@{
    ViewData["Title"] = "Consulta";
}
@attribute [Authorize]
<div class="container details-container">
    <div class="row d-flex justify-content-center align-items-center report-item">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="title_add">Registro</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center report-item">
        <div class="card">
            <div class="bg">
                <div class="info_detail">
                    <div class="row">
                        <div class="col-4 details-image">
                        </div>
                        <div class="col-8">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-10">
                                    <h4>
                                        @Html.DisplayFor(model => model.recordStoreReports.Record.NameProduct)
                                    </h4>
                                </div>
                                <div class="col-2 d-flex justify-content-end">
                                    <h4>
                                        ₡@Html.DisplayFor(model => model.recordStoreReports.Record.Price)
                                    </h4>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col">
                                    <h4>
                                        Usuario: @Html.DisplayFor(model => model.recordStoreReports.Record.NameGenerator)
                                    </h4>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col">
                                    <h7>
                                        Tienda: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <br>
                                        Provincia: @Html.DisplayFor(model => model.recordStoreReports.Store.NameProvince)
                                        <br>
                                        Cantón: @Html.DisplayFor(model => model.recordStoreReports.Store.NameCanton)
                                    </h7>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col">
                                    <h7>
                                        Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt sapien eu turpis sodales, sed bibendum elit euismod. Nunc vel ipsum id leo luctus fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                                    </h7>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col d-flex justify-content-end">
                                    <h7>
                                        @Html.DisplayFor(model => model.recordStoreReports.Record.RecordDate)
                                    </h7>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blob"></div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="title_add">Reportes</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center report-item">
        <div id="carousel" class="carousel carousel-dark slide" data-bs-interval="25000">
            <div class="carousel-inner">
                @for (int report = 0; report < Model.recordStoreReports.Reports.Count; report++)
                {
                    <div class="carousel-item @(report == 0 ? "active" : "")">
                        <div class="container d-flex justify-content-center align-items-center report-item">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="info">
                                    <div class="row d-flex justify-content-center align-items-center report-item">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h3>
                                                Usuario: @Html.DisplayFor(model => model.recordStoreReports.Reports[report].NameReporter)
                                            </h3>
                                            <div class="ratings-wrapper-report ratings-wrapper">
                                                <div class="ratings">
                                                    @for (var starNumber = 5; starNumber >= 1; starNumber--)
                                                    {
                                                        <span data-rating="@starNumber"
                                                        @(starNumber <= Model.recordStoreReports.reporterValorations[report] ? "data-clicked" : "")>
                                                            <span>★</span>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center align-items-center report-item">
                                        <div class="col-9 d-flex justify-content-center align-items-center report-comment">
                                            <h6>
                                                Comentario: @Html.DisplayFor(model => model.recordStoreReports.Reports[report].Comment) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post">
                                <input type="hidden" name="nameReporter" value="@Model.recordStoreReports.Reports[report].NameReporter">
                                <input type="hidden" name="reportDate" value="@Model.recordStoreReports.Reports[report].ReportDate">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <button class="add_confirm" type="submit" name="action" value="accept">Aceptar</button>
                                    </div>
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <button class="add_reject" type="submit" name="action" value="reject">Rechazar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
</div>