@page
@model LoCoMPro_LV.Pages.Reports.IndexModel
@using Microsoft.AspNetCore.Authorization
@using LoCoMPro_LV.Models
@{
    ViewData["Title"] = "Consulta";
}
@attribute [Authorize]
<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title_add">Reportes</h1>
        </div>
    </div>
    <table class="table-reports">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.recordStoreReports[0].Record.NameProduct)</th>
                <th>@Html.DisplayNameFor(model => model.recordStoreReports[0].Record.RecordDate)</th>
                <th>@Html.DisplayNameFor(model => model.recordStoreReports[0].Record.NameGenerator)</th>
                <th>@Html.DisplayNameFor(model => model.recordStoreReports[0].Reports[0].Comment)</th>
                <th>Valoracion</th>
                <th>Cantidad de reportes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reports in Model.recordStoreReports)
            {
                <tr>
                    <td>
                        <a class="election" asp-page="./Details" asp-route-NameGenerator="@reports.Record.NameGenerator" asp-route-RecordDate="@reports.Record.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => reports.Record.NameProduct)</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => reports.Record.RecordDate)</td>
                    <td>@Html.DisplayFor(modelItem => reports.Record.NameGenerator)</td>
                    <td>@Html.DisplayFor(modelItem => reports.Reports[0].Comment)</td>
                    <td>
                        <div class="ratings-wrapper">
                            <div class="ratings">
                                @for (var starNumber = 5; starNumber >= 1; starNumber--)
                                {
                                    <span data-rating="@starNumber"
                                    @(starNumber <= reports.recordValoration ? "data-clicked" : "")>
                                        <span>★</span>
                                    </span>
                                }
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>