@page
@model LoCoMPro_LV.Pages.Reports.TopReportsModel

@{
    ViewData["Title"] = "TopReports";
}

<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title_add">Top Reportados</h1>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InfoTopReports[0].NameGenerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoTopReports[0].RecordsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoTopReports[0].ReportsReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoTopReports[0].AcceptedReportsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoTopReports[0].UserRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var UserReported in Model.InfoTopReports)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => UserReported.NameGenerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => UserReported.RecordsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => UserReported.ReportsReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => UserReported.AcceptedReportsCount) ( @Html.DisplayFor(modelItem => UserReported.AcceptedReportsPercentage)% )
            </td>
            <td>
                <div class="ratings-container">
                    <div class="ratings-wrapper">
                        <div class="ratings">
                                @for (var starNumber = 5; starNumber >= 1; starNumber--)
                                {
                                <span data-rating="@starNumber"
                                    @(starNumber <= UserReported.UserRating ? "data-clicked" : "")>
                                    <span>★</span>
                                </span>
                                }
                        </div>
                    </div>
                        
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
