@page
@model LoCoMPro_LV.Pages.Lists.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="title_add">Establecimientos para mi compra</h2>
        </div>
    </div>
    <table class="table-list-results table table-striped" id="miTabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Results[0].Records[0].NameStore)</th>
                <th>
                    <a class="a-ordering" id="orderDate">@Html.DisplayNameFor(model => model.Results[0].Store.NameCanton)</a>
                </th>
                <th>@Html.DisplayNameFor(model => model.Results[0].Store.NameProvince)</th>
                <th>
                    Cantidad de productos
                </th>
                <th>
                    <div class="table-item precio">
                        Precio total
                    </div>
                </th>
                <th>
                    Distancia
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Results)
            {
                <tr>
                    <td>
                        <a class="election" asp-page="./ResultList" asp-route-NameGenerator="@result.Records[0].NameGenerator" asp-route-RecordDate="@result.Records[0].RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => result.Store.NameStore)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.Store.NameCanton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.Store.NameProvince)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.productCount) (@Html.DisplayFor(modelItem => result.percentageInList)%)
                    </td>
                    <td>
                        <div class="table-item precio">
                            @Html.DisplayFor(modelItem => result.totalPrice)
                        </div>
                    </td>
                    <td>
                        <div class="table-item distancia">
                            @(result.Distance != 0 ? string.Format("{0:0.0} km", result.Distance) : "N/A")
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
