@page
@model LoCoMPro_LV.Pages.Lists.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container container-search index align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="title_add">Establecimientos para mi compra</h2>
        </div>
    </div>
    <table class="table-reports table table-striped" id="miTabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Results[0].Store.NameStore)</th>
                <th>
                    <a class="a-ordering" id="orderDate">@Html.DisplayNameFor(model => model.Results[0].Store.NameCanton)</a>
                </th>
                <th>@Html.DisplayNameFor(model => model.Results[0].Store.NameProvince)</th>
                <th>
                    Cantidad de productos
                </th>
                <th>
                    Precio total
                </th>
                <th>
                    Distancia
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => result.Store.NameStore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.Store.NameCanton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.Store.NameProvince)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.productCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => result.totalPrice)
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
