@page
@model LoCoMPro_LV.Pages.Lists.ResultListModel

@{
    ViewData["Title"] = "ResultList";
}

<h1>ResultList</h1>

<div>
    <h4>List</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.List.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.List.User.UserName)
        </dd>
    </dl>
</div>

<table class="table table-striped" id="miTabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Result.Records[0].NameProduct)
            </th>
            <th class="precio" id="priceColumn">
                <a class="a-ordering" id="orderPrice">@Html.DisplayNameFor(model => model.Result.Records[0].Price)</a>
                <span class="arrow" id="priceArrow"></span>
            </th>
            <th class="date" id="dateColumn">
                <a class="a-ordering" id="orderDate">@Html.DisplayNameFor(model => model.Result.Records[0].RecordDate)</a>
                <span class="arrow" id="dateArrow"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Result.Records)
        {

            <tr>
                <td>
                    <div class="table-item">
                        <a class="election" asp-page="../Records/Details" asp-route-NameGenerator="@firstItem.NameGenerator" asp-route-RecordDate="@firstItem.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")">@Html.DisplayFor(modelItem => firstItem.NameProduct)</a>
                    </div>
                </td>
                <td>
                    <div class="table-item precio">
                        ₡@Html.DisplayFor(modelItem => firstItem.Price)
                    </div>
                </td>
                <td>
                    <div class="table-item fecha">
                        @Html.DisplayFor(modelItem => firstItem.RecordDate)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
