@page
@model LoCoMPro_LV.Pages.Records.CreateModel
@{
    ViewData["Title"] = "Crear Registro";
}


<div class="add_product">
    <h1 class="title_add">Agregar Producto</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="Record.NameGenerator" class="form-control form-control-add" value="@Model.AuthenticatedUserName" hidden />
                    <span asp-validation-for="Record.NameGenerator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Store">Establecimiento</label>
                    <input name="Record.NameStore" id="Store" type="text" class="form-control form-control-add"/>
                </div>
                <div class="form-group">
                    <label for="Province">Provincia</label>
                    <select id="Province" asp-for="Record.NameProvince" asp-items="Model.Provinces" class="form-control form-control-add">
                        <option value=""> </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Canton">Cantón</label>
                    <select id="Canton" name="Record.NameCanton" class="form-control form-control-add">
                        <option value="">Todos</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Products">Producto</label>
                    <input name="Record.NameProduct" id="Products" type="text" class="form-control form-control-add"/>
                </div>
                <div class="form-group">
                    <label asp-for="Record.Price"></label>
                    <input asp-for="Record.Price" class="form-control form-control-add" />
                    <span asp-validation-for="Record.Price"></span>
                </div>

                <div class="form-group">
                    <label for="Category">Categoría</label>
                    <input name="NameCategory" id="Category" type="text" class="form-control form-control-add"/>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Record.Description" class="control-label"></label>
                            <textarea asp-for="Record.Description" class="form-control form-control-add form-control form-control-add-lg" rows="8"></textarea>
                            <span asp-validation-for="Record.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col d-flex justify-content-start align-items-center">
                <input type="submit" value="Confirmar&#10;Producto" class="add_confirm btn btn-primary btn-sm" />
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a asp-page="Index" class="add_cancel btn btn-danger d-flex justify-content-center align-items-center">Cancelar</a>
            </div>
        </div>*@
        <form method="post" id="formRegistro">
            <div class="row">
                <div class="col d-flex justify-content-start align-items-center">
                    <input type="submit" value="Confirmar&#10;Producto" class="add_confirm btn btn-primary btn-sm" onclick="mostrarDialogoYGuardar();" />
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a asp-page="Index" class="add_cancel btn btn-danger d-flex justify-content-center align-items-center">Cancelar</a>
                </div>
            </div>@* Permite hacer un comentario de confirmacion de que el refistro fue guardado con exito*@
            <div class="modal fade" id="successDialog" tabindex="-1" aria-labelledby="successDialogLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successDialogLabel">Éxito</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            El registro se ha guardado con éxito.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </form>
</div>

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        // Espera a que el documento esté completamente cargado
        document.addEventListener("DOMContentLoaded", function () {
            var provinceDropdown = document.getElementById("Province");
            var cantonDropdown = document.getElementById("Canton");

            // Crear un objeto para almacenar cantones por provincia
            var cantonsByProvince = @Html.Raw(Json.Serialize(Model.Cantons));

            // Función para actualizar las opciones del dropdown de cantones
            function actualizarDropdownCantones() {
                var selectedProvince = provinceDropdown.value;
                cantonDropdown.innerHTML = ''; // Limpiar opciones anteriores

                var defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.text = " ";
                cantonDropdown.appendChild(defaultOption);

                // Agregar las opciones de cantones basadas en la provincia seleccionada
                cantonsByProvince[selectedProvince].forEach(function (canton) {
                    var option = document.createElement("option");
                    option.value = canton;
                    option.text = canton;
                    cantonDropdown.appendChild(option);
                });
            }

            // Agregar un manejador de eventos de cambio al dropdown de provincias
            provinceDropdown.addEventListener("change", actualizarDropdownCantones);

            // Llamar a la función para inicializar el dropdown de cantones con la selección inicial
            actualizarDropdownCantones();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var data = @Html.Raw(Json.Serialize(Model.Stores)); //["White Oak", "White Pine", "Whine Sunflower", "White Rose"]
            $("#Store").autocomplete({

                source: data,
                minLength: 1 // Establece la longitud mínima de caracteres para activar el autocompletado
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var data = @Html.Raw(Json.Serialize(Model.Product)); //["White Oak", "White Pine", "Whine Sunflower", "White Rose"]
            $("#Products").autocomplete({

                source: data,
                minLength: 1 // Establece la longitud mínima de caracteres para activar el autocompletado
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var data = @Html.Raw(Json.Serialize(Model.Categories)); //["White Oak", "White Pine", "Whine Sunflower", "White Rose"]
            $("#Category").autocomplete({
                source: data,
                minLength: 1 // Establece la longitud mínima de caracteres para activar el autocompletado
            });
        });
    </script>
    @*--------------------------------------------------------------------------*@
    <script>
        function mostrarDialogoYGuardar() {
            $('#successDialog').modal('show');

            setTimeout(function () {
                // Envía el formulario automáticamente después de 3 segundos
                document.getElementById('formRegistro').submit();

                // Cierra el cuadro de diálogo
                $('#successDialog').modal('hide');
            }, 4000); // 3000 milisegundos = 3 segundos
        }
    </script>
}