@page
@model LoCoMPro_LV.Pages.Records.CreateModel
@using LoCoMPro_LV.Models
@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "Crear Registro";
}
@attribute [Authorize]
<div class="add_product">
    <h1 class="title_add">Agregar Producto</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="Record.NameGenerator" class="form-control form-control-add" value="@User.Identity.Name" readonly hidden />
                    <span asp-validation-for="Record.NameGenerator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.NameStore">Establecimiento</label>
                    <input asp-for="Record.NameStore" id="Store" type="text" class="form-control form-control-add" aria-required="true" placeholder="Establecimiento" />
                    <span asp-validation-for="Record.NameStore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.NameProvince">Provincia</label>
                    <select id="Province" asp-for="Record.NameProvince" asp-items="Model.Provinces" class="form-control form-control-add" aria-required="true" placeholder="Provincia">
                        <option value=""> Provincia  </option>
                    </select>
                    <span asp-validation-for="Record.NameProvince" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.NameCanton">Cantón</label>
                    <select id="Canton" asp-for="Record.NameCanton" class="form-control form-control-add" aria-required="true" placeholder="Cantón">
                    </select>
                    <span asp-validation-for="Record.NameCanton" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.NameProduct">Producto</label>
                    <input asp-for="Record.NameProduct" id="Products" type="text" class="form-control form-control-add" aria-required="true" placeholder="Producto" />
                    <span asp-validation-for="Record.NameProduct" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Record.Price"></label>
                    <input asp-for="Record.Price" id="precioInput" class="form-control form-control-add" placeholder="Precio" onblur="asignarPrecioARecord()" />
                    <span asp-validation-for="Record.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameCategory">Categoría</label>
                    <input asp-for="NameCategory" id="Category" type="text" class="form-control form-control-add" aria-required="true" placeholder="Categoría" />
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Record.Description" class="control-label"></label>
                            <textarea asp-for="Record.Description" class="form-control form-control-add form-control form-control-add-lg" placeholder=" Añade una descripción" rows="8"></textarea>
                            <span asp-validation-for="Record.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" id="formRegistro">
            <div class="row">
                <div class="col d-flex justify-content-start align-items-center">
                    <input type="submit" value="Confirmar&#10;Producto" class="add_confirm btn btn-primary btn-sm" onclick="saveRecord();" />
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a asp-page="/Index" class="add_cancel btn btn-danger d-flex justify-content-center align-items-center">Cancelar</a>
                </div>
            </div>
        </form>
    </form>
</div>

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var provinceDropdown = document.getElementById("Province");
            var cantonDropdown = document.getElementById("Canton");
            var cantonsByProvince = @Html.Raw(Json.Serialize(Model.Cantons));
            function actualizarDropdownCantones() {
                var selectedProvince = provinceDropdown.value;
                cantonDropdown.innerHTML = '';
                var defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.text = " Cantón";
                cantonDropdown.appendChild(defaultOption);
                cantonsByProvince[selectedProvince].forEach(function (canton) {
                    var option = document.createElement("option");
                    option.value = canton;
                    option.text = canton;
                    cantonDropdown.appendChild(option);
                });
            }
            provinceDropdown.addEventListener("change", actualizarDropdownCantones);
            actualizarDropdownCantones();
        });

        type = "text/javascript" >
            $(function () {
                var data = @Html.Raw(Json.Serialize(Model.Stores));
                $("#Store").autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        type = "text/javascript" >
            $(function () {
                var data = @Html.Raw(Json.Serialize(Model.Product));
                $("#Products").autocomplete({
                    source: data,
                    minLength: 1
                });
            });

        type = "text/javascript" >
            $(function () {
                var data = @Html.Raw(Json.Serialize(Model.Categories));
                $("#Category").autocomplete({
                    source: data,
                    minLength: 1
                });
            });
    </script>
}