@page
@model LoCoMPro_LV.Pages.Records.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.GeneratorUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.GeneratorUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Store.NameStore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Product.NameProduct)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Record.NameGenerator" />
        <input type="hidden" asp-for="Record.RecordDate" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
