@page
@model LoCoMPro_LV.Pages.Records.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container details-container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="bg">
                <div class="info_detail">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col">
                            <h2>
                                @Html.DisplayFor(model => model.Records.First().NameProduct)
                            </h2>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <h4>
                                ₡@Html.DisplayFor(model => model.Records.First().Price)
                            </h4>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col">
                            <h6>
                                Tienda: @Html.DisplayFor(model => model.Records.First().NameStore)
                                <br>
                                Provincia: @Html.DisplayFor(model => model.Records.First().NameProvince)
                                <br>
                                Cantón: @Html.DisplayFor(model => model.Records.First().NameCanton)
                            </h6>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col d-flex justify-content-end">
                            <h7>
                                @Html.DisplayFor(model => model.Records.First().RecordDate)
                            </h7>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blob"></div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Records[0].RecordDate)
                    </th >
                    <th class="precio">
                        @Html.DisplayNameFor(model => model.Records[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Records[0].NameGenerator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Records[0].Description)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var firstItem in Model.Records)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => firstItem.RecordDate)
                        </td>
                        <td class="precio">
                            ₡@Html.DisplayFor(modelItem => firstItem.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => firstItem.NameGenerator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => firstItem.Description)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div>
        <a href="javascript:history.go(-1);">Volver</a>
    </div>
</div>

@{
    var prevDisabled = !Model.Records.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Records.HasNextPage ? "disabled" : "";
    var totalPages = Model.Records.TotalPages;
    var currentPage = Model.Records.PageIndex;
}

<div class="pagination justify-content-center">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-page="./Details"
                   asp-route-pageIndex="@(Model.Records.PageIndex - 1)"
                   asp-route-NameGenerator="@Model.NameGenerator"
                   asp-route-RecordDate="@Model.RecordDate">
                    Anterior
                </a>
            </li>

            @if (currentPage > 3)
            {
                <li class="page-item ">
                    <a class="page-link" asp-page="./Details"
                       asp-route-pageIndex="1"
                       asp-route-NameGenerator="@Model.NameGenerator"
                       asp-route-RecordDate="@Model.RecordDate">
                        1
                    </a>
                </li>
                <li class="page-item">
                    <span class="page-link">...</span>
                </li>
            }

            @for (int i = currentPage - 2; i <= currentPage + 2; i++)
            {
                if (i > 0 && i <= totalPages)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-page="./Details"
                           asp-route-pageIndex="@i"
                           asp-route-NameGenerator="@Model.NameGenerator"
                           asp-route-RecordDate="@Model.RecordDate">
                            @i
                        </a>
                    </li>
                }
            }

            @if (currentPage < totalPages - 2)
            {
                <li class="page-item">
                    <span class="page-link">...</span>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-page="./Details"
                       asp-route-pageIndex="@totalPages"
                       asp-route-NameGenerator="@Model.NameGenerator"
                       asp-route-RecordDate="@Model.RecordDate">
                        @totalPages
                    </a>
                </li>
            }

            <li class="page-item @nextDisabled">
                <a class="page-link" asp-page="./Details"
                   asp-route-pageIndex="@(Model.Records.PageIndex + 1)"
                   asp-route-NameGenerator="@Model.NameGenerator"
                   asp-route-RecordDate="@Model.RecordDate">
                    Siguiente
                </a>
            </li>
        </ul>
    </nav>
</div>
