@page
@model LoCoMPro_LV.Pages.Records.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.GeneratorUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.GeneratorUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Store.NameStore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Product.NameProduct)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
