@page
@model LoCoMPro_LV.Pages.Records.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container container-search index align-items-center">
    <div class="row">
        <form method="get" asp-page="/Records/Index" onsubmit="return validateSearchForm()">
            <div class="col buscar-form">
                <div class="form-group">
                    <label class="searchString" for="SearchString">Nombre del producto</label>
                    <div class="input-group mb-3">
                        <input type="text" name="SearchString" id="SearchString" value="@Model.SearchString" class="form-control" />
                        <input class=" loupe-button btn btn-light" id="button-addon2" type="submit" value="Buscar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Establecimiento
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Provincia
            </th>
            <th>
                Cantón
            </th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Record)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameCanton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.Price)
                </td>
            </tr>
        }

    </tbody>

</table>