@page
@model LoCoMPro_LV.Pages.Records.IndexModel

<script>
    // Función encargada de limbiar los valores que se encuentren en la búsqueda a la hora de cargar la página.
    window.onload = function () {
        document.getElementsByName("SearchString")[0].value = '';
        document.getElementsByName("SearchProvince")[0].value = '';
        document.getElementsByName("SearchCanton")[0].value = '';
        document.getElementsByName("SearchCategory")[0].value = '';
    };
</script>

<form method="get" asp-page="/Records/Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="SearchString">Buscar producto</label>
                <input type="text" name="SearchString" id="SearchString" value="@Model.SearchString" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div style="margin-bottom: 10px;"></div>
                <div>
                    <input type="submit" value="Buscar" class="btn btn-primary" formmethod="get" />
                    <input type="button" value="Búsqueda avanzada" class="btn btn-primary" id="ShowAdvancedSearch" />
                </div>
            </div>
        </div>
    </div>
    <div id="advancedSearch" style="display: none;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Province">Provincia</label>
                    <select id="Province" asp-for="SearchProvince" asp-items="Model.Provinces" class="form-control">
                        <option value="">Todas</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Canton">Cantón</label>
                    <select id="Canton" name="SearchCanton" asp-items="Model.Cantons" class="form-control">
                        <option value="">Todos</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Category">Categoría</label>
                    <select id="Category" asp-for="SearchCategory" asp-items="Model.Categories" class="form-control">
                        <option value="">Todas</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // A la hora de presionar el botón de búsqueda avanzada, muestra las nuevas opciones
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("ShowAdvancedSearch").addEventListener("click", function () {
            var advancedSearch = document.getElementById("advancedSearch");
            if (advancedSearch.style.display === "none" || advancedSearch.style.display === "") {
                advancedSearch.style.display = "block";
            } else {
                advancedSearch.style.display = "none";
            }
        });
    });
</script>

<script>
    // Espera a que el documento esté completamente cargado
    document.addEventListener("DOMContentLoaded", function () {
        var provinceDropdown = document.getElementById("Province");
        var cantonDropdown = document.getElementById("Canton");

        // Obtiene las opciones de cantones para cada provincia
        var cantonsByProvince = {
            "San José": ["San José", "Escazú", "Desamparados", "Puriscal", "Tarrazú", "Aserrí", "Mora", "Goicoechea", "Santa Ana", "Alajuelita", "Vásquez de Coronado", "Acosta", "Tibás", "Moravia", "Montes de Oca", "Turrubares", "Dota", "Curridabat", "Pérez Zeledón", "León Cortés"],
            "Alajuela": ["San Carlos", "Upala", "Los Chiles", "San Ramón", "Guatuso", "Alajuela", "Rio Cuarto", "Zarcero", "Orotina", "Grecia", "Atenas", "Naranjo", "San Mateo", "Sarchí", "Poás", "Palmares"],
            "Heredia": ["Heredia", "Barva", "Santo Domingo", "Santa Bárbara", "San Rafael", "San Isidro", "Belén", "Flores", "San Pablo", "Sarapiquí"],
            "Cartago": ["Cartago", "Paraíso", "La Unión", "Jiménez", "Turrialba", "Alvarado", "Oreamuno", "El Guarco"],
            "Puntarenas": ["Puntarenas", "Esparza", "Buenos Aires", "Montes de Oro", "Osa", "Quepos", "Golfito", "Coto Brus", "Parrita", "Corredores", "Garabito", "Puerto Jiménez", "Monte Verde"],
            "Guanacaste": ["Liberia", "Nicoya", "Santa Cruz", "Bagaces", "Carrillo", "Cañas", "Abangares", "Tilarán", "Nandayure", "La Cruz", "Hojancha"],
            "Limón": ["Limón", "Pococí", "Siquirres", "Talamanca", "Matina", "Guácimo"]
        };

        // Función para actualizar las opciones del dropdown de cantones
        function actualizarDropdownCantones() {
            var selectedProvince = provinceDropdown.value;
            cantonDropdown.innerHTML = ''; // Limpiar opciones anteriores

            var defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.text = "Todos";
            cantonDropdown.appendChild(defaultOption);

            // Agregar las opciones de cantones basadas en la provincia seleccionada
            cantonsByProvince[selectedProvince].forEach(function (canton) {
                var option = document.createElement("option");
                option.value = canton;
                option.text = canton;
                cantonDropdown.appendChild(option);
            });
        }

        // Agregar un manejador de eventos de cambio al dropdown de provincias
        provinceDropdown.addEventListener("change", actualizarDropdownCantones);

        // Llamar a la función para inicializar el dropdown de cantones con la selección inicial
        actualizarDropdownCantones();
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameCanton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Record)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.NameProduct)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.NameStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Canton.Province.NameProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Canton.NameCanton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

