@page
@model LoCoMPro_LV.Pages.Records.IndexModel

<!-- <script>
    // Función encargada de limbiar los valores que se encuentren en la búsqueda a la hora de cargar la página.
    window.onload = function () {
        document.getElementsByName("SearchString")[0].value = '';
        document.getElementsByName("SearchProvince")[0].value = '';
        document.getElementsByName("SearchCanton")[0].value = '';
        document.getElementsByName("SearchCategory")[0].value = '';
    };
</script> -->

<div class="container container-search index align-items-center">
    <div class="row">
        <form method="get" asp-page="/Records/Index" onsubmit="return validateSearchForm()">
           <div class=" buscar-form">
                <div class="col">
                    <div class="form-group">
                        <label class="searchString" for="SearchString">Nombre del producto</label>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-10">
                                <input type="text" name="SearchString" id="SearchString" value="@Model.SearchString" class="form-control" oninput="toggleSearchButton()" />
                            </div>
                            <div class="col-2">
                                <input type="button" value="Búsqueda avanzada" class="advanced_search btn btn-primary" data-bs-toggle="collapse" data-bs-target="#advancedSearch" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="advancedSearch" class="collapse">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Province">Provincia</label>
                                <select id="Province" asp-for="SearchProvince" asp-items="Model.Provinces" class="form-control_advanced form-control">
                                    <option value="">Todas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Canton">Cantón</label>
                                <select id="Canton" name="SearchCanton" asp-items="Model.Cantons" class="form-control_advanced form-control">
                                    <option value="">Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group_advanced">
                                <label for="Category">Categoría</label>
                                <select id="Category" asp-for="SearchCategory" asp-items="Model.Categories" class="form-control_advanced form-control">
                                    <option value="">Todas</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // A la hora de presionar el botón de búsqueda avanzada, muestra las nuevas opciones
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("ShowAdvancedSearch").addEventListener("click", function () {
            var advancedSearch = document.getElementById("advancedSearch");
            if (advancedSearch.style.display === "none" || advancedSearch.style.display === "") {
                advancedSearch.style.display = "block";
            } else {
                advancedSearch.style.display = "none";
            }
        });
    });
</script>

<script>
    // Asegura que la función "toggleSearchButton()" se ejecute al cargar la página.
    window.addEventListener('DOMContentLoaded', (event) => {
        toggleSearchButton();
    });

    // Habilita o deshabilita el botón de búsqueda según si el campo de texto está vacío o no.
    function toggleSearchButton() {
        const searchStringInput = document.getElementById("SearchString");
        const searchButton = document.getElementById("button-addon2");

        if (searchStringInput.value.trim() !== "") {
            searchButton.disabled = false;
        } else {
            searchButton.disabled = true;
        }
    }
</script>

<script>
    // Espera a que el documento esté completamente cargado
    document.addEventListener("DOMContentLoaded", function () {
        var provinceDropdown = document.getElementById("Province");
        var cantonDropdown = document.getElementById("Canton");

        // Opciones de cantones para cada provincia
        var cantonsByProvince = {
            "San José": ["San José", "Escazú", "Desamparados", "Puriscal", "Tarrazú", "Aserrí", "Mora", "Goicoechea", "Santa Ana", "Alajuelita", "Vásquez de Coronado", "Acosta", "Tibás", "Moravia", "Montes de Oca", "Turrubares", "Dota", "Curridabat", "Pérez Zeledón", "León Cortés"],
            "Alajuela": ["San Carlos", "Upala", "Los Chiles", "San Ramón", "Guatuso", "Alajuela", "Rio Cuarto", "Zarcero", "Orotina", "Grecia", "Atenas", "Naranjo", "San Mateo", "Sarchí", "Poás", "Palmares"],
            "Heredia": ["Heredia", "Barva", "Santo Domingo", "Santa Bárbara", "San Rafael", "San Isidro", "Belén", "Flores", "San Pablo", "Sarapiquí"],
            "Cartago": ["Cartago", "Paraíso", "La Unión", "Jiménez", "Turrialba", "Alvarado", "Oreamuno", "El Guarco"],
            "Puntarenas": ["Puntarenas", "Esparza", "Buenos Aires", "Montes de Oro", "Osa", "Quepos", "Golfito", "Coto Brus", "Parrita", "Corredores", "Garabito", "Puerto Jiménez", "Monte Verde"],
            "Guanacaste": ["Liberia", "Nicoya", "Santa Cruz", "Bagaces", "Carrillo", "Cañas", "Abangares", "Tilarán", "Nandayure", "La Cruz", "Hojancha"],
            "Limón": ["Limón", "Pococí", "Siquirres", "Talamanca", "Matina", "Guácimo"]
        };

        // Función para actualizar las opciones del dropdown de cantones
        function actualizarDropdownCantones() {
            var selectedProvince = provinceDropdown.value;
            cantonDropdown.innerHTML = ''; // Limpia todas las opciones anteriores

            var defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.text = "Todos";
            cantonDropdown.appendChild(defaultOption);

            // Verificar si selectedProvince está definido y existe en cantonsByProvince
            if (selectedProvince && cantonsByProvince[selectedProvince]) {
                // Agregar las opciones de cantones basadas en la provincia seleccionada
                cantonsByProvince[selectedProvince].forEach(function (canton) {
                    var option = document.createElement("option");
                    option.value = canton;
                    option.text = canton;
                    cantonDropdown.appendChild(option);
                });
            }
        }

        // Maneja eventos de cambio al dropdown de provincias
        provinceDropdown.addEventListener("change", actualizarDropdownCantones);

        actualizarDropdownCantones();
    });
</script>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].NameCanton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firstItem in Model.Record)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameStore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.NameCanton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => firstItem.Price)
                </td>
            </tr>
        }

    </tbody>

</table>